$background-color: #f9f8f9;
$sidebar-color: #e5e5e5;
$selected-item-background: rgba(42, 209, 162, 0.1);
$selected-item: #22aa83;

$sidebar-width: 72px;

//* --FONTS------------------------------------------------------------------------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@500;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

$font_first: "Tajawal", sans-serif;
$font_second: "Inter", sans-serif;
$font_third: "Montserrat", sans-serif;
